res/
sequences/
utils/

csrc/build

*.egg-info/

*.so

*build/

server/result/*
!server/result/.gitkeep

server/uploads/images/*
!server/uploads/images/.gitkeep

server/uploads/videos/*
!server/uploads/videos/.gitkeep

# 所有的__pycache__
**/__pycache__

# 所有的测试集
KCF/benchmark_dataset/*
KCF/data/Diving

KCF/func_lib.py

kcf_report_v3.pptx
