res/
sequences/
utils/

csrc/build

*.egg-info/

*.so

*build/

server/result/*
!server/result/.gitkeep

server/uploads/files/*
!server/uploads/files/.gitkeep

server/uploads/zips/*
!server/uploads/zips/.gitkeep